// definição de arquivo de tema com algumas cores e fontes.

@font-face
  font-family 'BoldTd'
  src url('@/assets/fonts/Bold.ttf') format('truetype')

@font-face
  font-family 'MediumTd'
  src url('@/assets/fonts/Medium.ttf') format('truetype')

@font-face
  font-family 'RegularTd'
  src url('@/assets/fonts/Regular.ttf') format('truetype')

@font-face
  font-family 'SemiBoldTd'
  src url('@/assets/fonts/SemiBold.ttf') format('truetype')


$td-bold = 'BoldTd', sans-serif
$td-medium = 'MediumTd', sans-serif
$td-regular = 'RegularTd', sans-serif
$td-semi-bold = 'SemiBoldTd', sans-serif

$td-blue = #2693FF
$td-title = #283848
$td-green = #1AD18F
$td-green-disable = #0ED984
$td-green-aux = #16D08D
$td-input-lbl = #4E657B
$td-yellow = #FFC42E
$td-red = #FF4874